* {
  box-sizing: border-box;
}

#all{
  height: 250px;
  width:250px;
  margin:auto;
  border: black solid 2px;
  
}
#stage {
  background-color: antiquewhite;
  /* text-align: center; */
  font-size: 100px;
  /* position: relative; */
  border: black solid 1px;
  display:flex;
  align-items: center;
  justify-content: center;
  height:80%;
  width:100%;
}

#Button {
  display:flex;
  height:20%;
  width:100%;
  /* border-top:solid 2px rgb(0, 0, 0); */
  /* align-items: center; */
  /* justify-content: center; */
}

#Button button {
  background-color: antiquewhite;
  width:33.34%;
  margin:0.3px;
  border: 1px solid black;
  cursor:pointer;
  transition: background-color 0.3s;
}
#Button button:hover {
  background-color: hsl(34, 78%, 100%);;
}
#Button button:active {
  background-color: antiquewhite;
}