body{
  background-color: hsl(324, 52%, 94%);
}

#stage{
  display:flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  top:30vh;
  /* width:fit-content; */
  width:25em;
  /* height:fit-content; */
  height:24em;
  flex-direction: column;
  margin:auto;
  padding:5%;
  background-color: hsl(324, 52%, 94%);
  border:solid 1px hsl(324, 52%, 70%);
  border-radius: 15%;

}

#stage:hover{
  box-shadow: 10px 10px 10px hsl(324, 44%, 80%), -12px -12px 12px white;
}

#stage #given{
  width:30%;
  height:2em;
  border:none;
  border:1px solid hsl(324, 52%, 70%);
  border-radius: 30px;
  text-align: center;
  
}
#stage #given:hover{
  box-shadow: 5px 5px 5px hsl(324, 44%, 80%), -6px -6px 6px white;

}
#stage #given:focus{
  outline:none;
  box-shadow: 5px 5px 5px hsl(324, 44%, 80%), -6px -6px 6px white;
}

#stage #roll{
  border:none;
  width:6em;
  height:2em;
  display:inline-block;
  color:rgb(0, 0, 0);
  text-shadow:hsl(326, 88%, 41%);
  border: 0.001px solid hsl(324, 44%, 80%);
  background-color: hsl(324, 52%, 94%);
  border-radius:30px;
}

#stage #roll:hover{
  box-shadow: 3px 3px 6px hsl(324, 44%, 80%) , -3px -3px 6px hsl(324, 44%, 100%)  ;
}

#stage #roll:active{
  box-shadow: 3px 3px 6px hsl(324, 44%, 80%) inset, -3px -3px 6px hsl(324, 44%, 100%) inset ;

}
#stage #diceImages{
  position:relative;
  /* top:60%; */
  /* margin: 10%; */
  height: 40%;
  width:40%;
  background-color: white;
  border-radius: 20%;
  box-shadow: 3px 3px 6px hsl(324, 44%, 80%) inset, -3px -3px 6px hsl(324, 44%, 100%) inset ;
  border: 0.001px solid hsl(324, 44%, 80%);
  background-color: hsl(324, 52%, 94%);

}