body {
  background-color: hsl(0, 26%, 93%);
}

#stage {
  margin: auto;
  margin-top: 25%;;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  /* background-color: #c6ac8f; */
  border: black solid 0.0001px;
  /* box-shadow: 3px 3px 5px hsl(33, 20%, 31%); */
  font-family: cursive;
  border-radius: 5%;
}

#stage:hover{
  box-shadow: 12px 12px 12px rgba(0, 0, 0,0.1), -10px -10px 10px white;
}

#stage #given {
  background-color: hsl(0, 26%, 93%);
  border-radius: 0%;
  width: 50%;
  height: 1.5em;
  border:none;
  border: solid black 1px;
  /* background-color: hsl(33, 20%, 70%); */
  outline: none;
}
#stage #given:focus {
  box-shadow: 12px 12px 12px rgba(0, 0, 0,0.1), -10px -10px 10px white;
  /* box-shadow: 1px 1px 5px blue, -1px -1px 5px blue; */
  /* box-shadow: 1px 1px 5px #5e503f, -1px -1px 5px #5e503f;; */
}

#stage #given:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0,0.1), -5px -5px 10px white;
  background-color: hsl(0, 26%, 94%);

}

#stage .radio {
  /* display: inline-block; */
  position: relative;
  appearance: none;
  /* display: block;
  margin-left:0px; */
  border: black solid 0.0001px;
  border-radius: 50%;
  color: hsl(167, 100%, 50%);
  height: 15px;
  width: 15px;
}

#stage .radio::before{
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* background-color: rgb(240, 108, 185); */
  background-color: hsl(0, 26%, 70%);
  top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0);
  transition: 0.2s cubic-bezier(0.25, 1, 0.5, 1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0,0.1), -5px -5px 10px white;
  
}

#stage .radio:checked::before {
  top: 50%; left: 50%; transform: translate(-50%, -50%) scale(1);
  /* background-color: black; */
}

#stage .radio:hover {
  cursor: pointer;
  box-shadow: 6px 6px 12px rgba(0, 0, 0,0.1), -5px -5px 10px white;
}

#stage #convert {
  appearance: none;
  text-decoration: none;
  border: solid 0.0001px black;
  /* background-color: hsl(33, 20%, 50%); */
  background-color: hsl(0, 26%, 93%);
  border-radius: 9px;
  height: 2.3em;
  width: 30%;
  font-weight: bold;
  color: black;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8); /* Sharpens text */
  
}

#stage #convert:hover {
  /* background-color: rgb(240, 108, 185); */
  background-color: hsl(0, 26%, 90%);
  cursor: pointer;
  box-shadow: 6px 6px 12px rgba(0, 0, 0,0.1), -5px -5px 10px white;
}
#stage #convert:active {
  background-color: hsl(0, 26%, 93%);
  
}




@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
}

/* button:hover {
  animation: wiggle 0.3s ease-in-out;
} */