.gallery {
    display: inline-block;
    border: hsla(0, 0%, 50%, 0.315) solid 2px;
    margin:2px;
    width:200px;
    /* padding: 10px; */
}

.gallery .description {
    padding: 10px;
    text-align: center;
}

.gallery:hover {
    background-color: aquamarine;
    border: solid black 2px;
}

.gallery img {
    width:100%;
}


.icons {
    text-align: center;

}

.fa-brands.fa-instagram.fa-3x {
    color:hsl(273, 100%, 50%);
}
.fa-brands.fa-instagram.fa-3x:hover {
    color:hsl(273, 100%, 40%);
}

.fa-brands.fa-facebook.fa-3x {
    color:hsl(240, 100%, 50%);
}
.fa-brands.fa-facebook.fa-3x:hover {
    color:hsl(240, 100%, 40%);
}
.icons a{
    text-decoration: none;
    color:black;
    padding:1px;
    margin:1px;
}