.levi {
    height: auto;
    border:5px black solid;
    background-image:url(aot.jpg);
}
.levi img {
    animation-name: rotateRight;
    animation-duration: 1s;

}
@keyframes rotateRight {
    to {
        transform: translate(100vh) rotateZ(180deg);
    }
}
