body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color:rgb(0, 0, 0);
    font-family:"Lavishly Yours";
    border-style: solid;
    border-width: 3;
    border-color:rgb(141, 230, 118);
    border-radius:20px;
    background-color: bisque;
    text-shadow: 3px 3px 5px;
    text-align: center;
    
}

h2 {
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:"Lavishly Yours";
    text-shadow: 3px 3px 5px violet, -5px -5px blue ;
    font-size:100px;
    /* border: solid violet */
    border-top: solid blue;
    border-left: solid blue;
    border-right: solid violet;
    border-bottom: solid violet;
    border-radius: 50px;
}

#box {
    height: 100px;
    width: 500px;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgb(9, 90, 211);
}
#p1 {
    color: aquamarine;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: dotted 5px rgb(47, 47, 179);
    border-right: solid 5px rgb(20, 218, 20)
}
#p2 {
    color: rgb(220, 240, 148);
    font-family:Pacifico;
    font-size:larger;
}
/* #p3 {
    color: rgb(247, 166, 216);
}
#p4 {
    color: rgb(247, 235, 131);
} */
.odd {
    color: rgb(247, 166,216);
}
.even {
    color: rgb(247, 235, 131);
}

.box {
    width:250px;
    height:250px;
    font-size:50px;
    text-align: center;
    margin: 50px;
    background-color: rgb(0, 0, 0);
    border: blue solid;
}
#box1 {
    margin:auto;
    background-color: aqua;
    
}
#box2 {
    background-color: rgb(255, 32, 50);
}

p {
    color:rgb(13, 88, 228);
    margin: 10px;
}

#images {
    border: 5px solid blue;
    display: flow-root;
    background-color:rgb(0, 2, 14);
    border-radius:15px;
}
#img1 {
    /* margin-right:auto; */
    float:right;
    border: solid blue;
    margin: 10px
}
#img2 {
    float:left;
    border: solid blue;
    margin: 10px
}

#di {
    background-color:rgb(0, 2, 14);
    border: solid blue ;
    height:100px;
    overflow: auto;
}   

span {
    font-size : 50px;
    background-color:rgb(45, 25, 221);
    display:block;
    height:100px;
    width:100px;
    margin-bottom:50px;
    padding:1.5%;
    margin:auto;
    
}   
#div {
    margin:auto;
    padding:1.5%;
    height:100px;
    width:100px;
    font-size : 50px;
    display:flex;
    /* display:inline-block; */
    align-items:center;
    /* justify-content: center; */
    background-color:rgb(221, 25, 25);
}   

.boxx {
    color:blue;
    border:blue solid;
    width:200px;
    height:200px;
    float:left;
    padding:1.5%;
    margin:5.5%;
    overflow:auto;
    box-sizing: border-box;
    min-height: 250px;
    min-width: 250px;
}

/* Width and height of scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: rgb(6, 8, 14);
    border-radius: 10px;
  }
  
  /* Handle (scrolling part) */
  ::-webkit-scrollbar-thumb {
    background:blue;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue;
  }
  
#div1 {
    clear:both;
    height:250px;
    width:250px;
    background-color:  rgb(0, 191, 255);
}