*{
  transition: background-color 1s ease-out;
}

#hina {
  width: 100px;
  height: 100px;
  background-color: bisque;
  color: blue;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-out;
  /* bottom:50px; */
}
#chetan {
  width: 100px;
  height: 100px;
  background-color: bisque;
  color: rgb(0, 0, 0);
  display: flex;
  /* animation: beat 3s infinite; */
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50vh;
  left: 50vh;
  /* justify-self: center; */
  /* align-self: center; */
  /* animation: beat 3s infinite; */
}


@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slight increase to feel soft */
  }
}


/* .animation{
} */
/* .hug {
  animation: beat 3s ;
  background-color: rgb(251, 93, 120) !important;
} */
.hug {
  background-color: rgb(251, 93, 120) !important;
  box-shadow: 0 0 20px rgb(255, 100, 120); /* Soft glow */
}
